# Data Overview

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv(r"C:\Users\utkub\OneDrive\Masaüstü\Code\TelecomChurn\telecom_churn_data.csv")
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [2]:
# reformat column names
df.columns = [col.lower().replace(' ', "_") for col in df.columns]

In [3]:
df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

| Acronyms   | Descriptions                                                     |
|------------|------------------------------------------------------------------|
| MOBILE_NUMBER | Customer phone number                                        |
| CIRCLE_ID    | Telecom circle area to which the customer belongs to         |
| LOC          | Local calls - within same telecom circle                     |
| STD          | STD calls - outside the calling circle                       |
| IC           | Incoming calls                                               |
| OG           | Outgoing calls                                               |
| T2T          | Operator T to T, i.e. within same operator (mobile to mobile) |
| T2M          | Operator T to other operator mobile                          |
| T2O          | Operator T to other operator fixed line                      |
| T2F          | Operator T to fixed lines of T                                |
| T2C          | Operator T to it’s own call center                            |
| ARPU         | Average revenue per user                                     |
| MOU          | Minutes of usage - voice calls                                |
| AON          | Age on network - number of days the customer is using the operator T network |
| ONNET        | All kind of calls within the same operator network           |
| OFFNET       | All kind of calls outside the operator T network              |
| ROAM         | Indicates that customer is in roaming zone during the call   |
| SPL          | Special calls                                                 |
| ISD          | ISD calls                                                     |
| RECH         | Recharge                                                      |
| NUM          | Number                                                        |
| AMT          | Amount in local currency                                      |
| MAX          | Maximum                                                       |
| DATA         | Mobile internet                                               |
| 3G           | 3G network                                                    |
| AV           | Average                                                       |
| VOL          | Mobile internet usage volume (in MB)                          |
| 2G           | 2G network                                                    |
| PCK          | Prepaid service schemes called - PACKS                        |
| NIGHT        | Scheme to use during specific night hours only                |
| MONTHLY      | Service schemes with validity equivalent to a month           |
| SACHET       | Service schemes with validity smaller than a month            |
| *.6          | KPI for the month of June                                     |
| *.7          | KPI for the month of July                                     |
| *.8          | KPI for the month of August                                   |
| *.9          | KPI for the month of September                                |
| FB_USER      | Service scheme to avail services of Facebook and similar social networking sites |
| VBC          | Volume based cost - when no specific scheme is not purchased and paid as per usage |

# Handling Missing Values

In [5]:
null_counts = df.isnull().sum()
columns_with_nulls = null_counts[null_counts != 0]
columns_with_nulls

loc_og_t2o_mou           1018
std_og_t2o_mou           1018
loc_ic_t2o_mou           1018
last_date_of_month_7      601
last_date_of_month_8     1100
                        ...
night_pck_user_9        74077
fb_user_6               74846
fb_user_7               74428
fb_user_8               73660
fb_user_9               74077
Length: 166, dtype: int64

In [6]:
null_percentage = (df.isnull().mean() * 100).sort_values(ascending=False)
null_percentage

arpu_3g_6            74.846748
night_pck_user_6     74.846748
total_rech_data_6    74.846748
arpu_2g_6            74.846748
max_rech_data_6      74.846748
                       ...
max_rech_amt_7        0.000000
max_rech_amt_6        0.000000
total_rech_amt_9      0.000000
total_rech_amt_8      0.000000
sep_vbc_3g            0.000000
Length: 226, dtype: float64

In [7]:
# Drop columns with more than 30% null values
threshold = 30
columns_to_drop = null_percentage[null_percentage > threshold].index
df.drop(columns=columns_to_drop, inplace=True)
df.shape

(99999, 186)

In [8]:
# Drop date columns
columns_to_drop = [col for col in df.columns if 'date' in col]
df.drop(columns=columns_to_drop, inplace=True)
df.shape

(99999, 178)

In [9]:
# Dropping columns that have only one value (where std == 0)
df_std = df.std()
columns_to_drop = df_std[df_std == 0].index
df.drop(columns=columns_to_drop, inplace=True)
df.shape

(99999, 166)

In [10]:
# Dropping rows that have more than %50 missing values
total_columns = len(df.columns)
max_missing_values = total_columns // 2
missing_val_per_row = df.isnull().sum(axis=1)
rows_to_drop = missing_val_per_row[missing_val_per_row > max_missing_values].index
df.drop(index=rows_to_drop, inplace=True)
df.shape

(98981, 166)

In [11]:
# filling missing values with mean
for column in df.columns:
    if df[column].dtype in ['int64', 'float64']:
        mean_value = df[column].mean()
        df[column] = df[column].fillna(mean_value)

df.shape

(98981, 166)

# Customer Value Analysis

In [12]:
# RECH is the recharege and we will use this to define customer value
rech_columns = df.filter(regex='rech', axis=1).columns
rech_columns

Index(['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8',
       'total_rech_num_9', 'total_rech_amt_6', 'total_rech_amt_7',
       'total_rech_amt_8', 'total_rech_amt_9', 'max_rech_amt_6',
       'max_rech_amt_7', 'max_rech_amt_8', 'max_rech_amt_9'],
      dtype='object')

In [13]:
# Creating total value amt and num columns
amt_cols = ['total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'total_rech_amt_9']
num_cols = ['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9']

df['avg_rech_amt'] = df[amt_cols].mean(axis=1)
df['avg_rech_num'] = df[num_cols].mean(axis=1)

C:\Users\utkub\AppData\Local\Temp\ipykernel_16736\2602176731.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['avg_rech_amt'] = df[amt_cols].mean(axis=1)
C:\Users\utkub\AppData\Local\Temp\ipykernel_16736\2602176731.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['avg_rech_num'] = df[num_cols].mean(axis=1)

In [14]:
threshold = df['avg_rech_amt'].quantile(0.8)
threshold
valuable_customers = df[df['avg_rech_amt'] > threshold]
valuable_customers.shape

(19789, 168)